<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container">
        <div class="card mt-2">
            <div class="card-header">
                <h2>Edição de usuário</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/user/update/<%= user.id %>">
                    <label for="email"><strong>E-mail:</strong></label>
                    <input type="text" placeholder="Digite o título do artigo" id="email" name="email" class="form-control mb-2" value="<%= user.email %>">
                    <label for="password"><strong>Senha:</strong></label>
                    <input type="password" placeholder="Digite a senha" id="password" name="password" class="form-control mb-2">
                    <button class="btn btn-success mt-2"> Salvar</button>
                    <a class="btn btn-primary mt-2" href="/admin/users">Voltar</a>
                </form>
            </div>
        </div>
        
    </div>
<%- include('../../partials/footer.ejs') %>
